/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.nrepl-history
/resources/public/js
figwheel_server.log
/out
/.repl
.idea/
.cpcache/
*.iml
out/
*.ipr
*.iws
.eastwood
.rebel*
.DS_Store
