{:paths ["src" "resources" "classes"]
 :deps {tolitius/inquery {:mvn/version "0.1.13"}
        aesahaettr {:mvn/version "0.1.2" :exclusions [com.taoensso/nippy
                                                      org.clojure/clojure
                                                      com.google.guava/guava]}
        com.taoensso/nippy {:mvn/version "2.15.2"}
        com.google.guava/guava {:mvn/version "29.0-jre"}
        seancorfield/next.jdbc {:mvn/version "1.1.582"}}
 :aliases {:dev {:extra-paths ["dev"]
                 ;; :main-opts ["-i" "dev/dev.clj" "-e" "(in-ns,'dev)"]
                 :extra-deps {tolitius/yang {:mvn/version "0.1.20"}
                              tolitius/calip {:mvn/version "0.1.5"}
                              cprop {:mvn/version "0.1.17"}
                              hikari-cp/hikari-cp {:mvn/version "2.13.0"}
                              org.postgresql/postgresql {:mvn/version "42.2.16"}}}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}
                 :main-opts ["-m" "hf.depstar.jar" "verter.jar" "--exclude" "clojure/core/specs/alpha.*"]}
           :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install" "verter.jar"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "verter.jar" "true"]}}}


;; clojure -e "(compile 'verter.core)"; clojure -A:jar; clojure -A:deploy
