{:verter {:store {:sqlite {:datasource {:jdbc-url "jdbc:sqlite:dev/verter.db"}}
                  :postgres {:datasource {:connection-timeout 30000
                                          :read-only          true
                                          :idle-timeout       60000
                                          :max-lifetime       60000
                                          :minimum-idle       4
                                          :maximum-pool-size  10
                                          :adapter            "postgresql"

                                          ;; these come from ENV (i.e. export VERTER__STORE__POSTGRES__DATASOURCE__XYZ=...)
                                          :url                "OVERRIDE ME"
                                          :username           "OVERRIDE ME"
                                          :password           "OVERRIDE ME"}}}}}
